body {
  font-family: 'Roboto', sans-serif;
}

.account {
  border-bottom: 1px solid #ddd;
  display: inline-block;
}

.header-text {
  font-family: 'Lato','Roboto',sans-serif;
  font-weight: 300;
}

.main {
  margin-top: 80px;
}

.navbar-nav {
  padding: 0;
  margin: 0;
}

.navbar-light{
  background-color: #222222;
  border: 0;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  float: left;
  border-left: #767676;
  border-left-style: solid;
  border-left-width: 1px;
  white-space: nowrap;
  display: inline-flex;
  height: auto;
}

.name {

  color: white;

}

.nav-link-open {
  border-bottom: 6px solid deepskyblue;
}

.dropDown {
  background-color: cyan;
  padding: 11px;
}

.nav-id {
  float: right;
  vertical-align: middle;
  display: inline;
  overflow: hidden;
  color: white;
  max-width: 0;
  transition: max-width .5s ease;
  padding-bottom: 0;
  margin-bottom: 0;
}

.nav-id-open {
  float: right;
  vertical-align: middle;
  display: inline;
  width: auto;
  overflow: hidden;
  max-width: 400px;
  padding-bottom: 0;
  margin-bottom: 0;

}

.icon {
  float: left;
}

.search-input {
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 0;
  vertical-align: middle;
  width: 0;
  transition: width 0.2s ease;
}

.search-button {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background-color: #222222;
  color: white;
}

.search-button:focus,
.search-button:active {
  box-shadow: none;
}

.material-icons {
  display: inline;
  vertical-align: middle;
  color: white;
}

.search-input-open {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #4A88CB;
  padding: 0 10px;
  width: 250px;
  transition: width 0.2s ease;
}

.logo-img{
  height: 40px;
}