body {
  font-family: 'Roboto', sans-serif;
}

.account {
  border-bottom: 1px solid #ddd;
  display: inline-block;
}

.collapse {
  padding-right: 6%;
}

.w-100 {
  height: 100%;
}

.header-text {
  font-family: 'Lato','Roboto',sans-serif;
  font-weight: 300;
}

.main {
  margin-top: 80px;
}

.navbar-nav {
  padding: 0;
  margin: 0;
  height: 100%;
}

.navbar-light{
  background-color: #222222;
  border: 0;
  margin: 0;
  padding: 0;
  height: 6%;
}

.nav-item {
  /*position: relative;*/
  float: left;
  display: inline-flex;
  height: 100%;
  width: auto;
}

.name {

  color: white;

}


.nav-link {
  border-left: #3E444A;
  border-left-style: solid;
  border-left-width: 1px;
  white-space: nowrap;
  height: 100%;
  /*display: inline-flex;*/
  border-bottom: 3px solid #222222;
}

.nav-link-open {
  border-left: #3E444A;
  border-left-style: solid;
  border-left-width: 1px;
  white-space: nowrap;
  height: 100%;
  /*display: inline-flex;*/
  border-bottom: 3px solid #3092FB;
}

.dropDown {
  background-color: #3092FB;
  padding: 8px;
}

.nav-id {
  float: right;
  vertical-align: middle;
  display: inline;
  overflow: hidden;
  color: white;
  max-width: 0;
  transition: max-width 1s ease;
  margin-bottom: 0;
  font-size: 14px;
  padding-top: 5px;
}

.nav-id-open {
  float: right;
  vertical-align: middle;
  display: inline;
  width: auto;
  overflow: hidden;
  max-width: 175px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-right: 10px;
  font-size: 14px;

}

.icon {
  float: left;
}

.search-input {
  box-shadow: none;
  outline: none;
  border: none;
  vertical-align: middle;
  width: 0;
  transition: width 0.2s ease;
  float: left;
  border-radius: 25px;
  background-color:black;
}


.search-input-open {
  box-shadow: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  width: 225px;
  transition: width 0.2s ease;
  border-radius: 25px;
  background-color:black;
  color: white;
}


.search-button {
  border-radius: 24px;
  background-color: #222222;
  border: none;

}


.search-button:focus,
.search-button:active {
  box-shadow: none;
  border: none;
}

.imgs {
  height: 16px;
  width: 20px;
  display: inline;
  vertical-align: middle;
  color: white;
  horiz-align: center;
  margin-top: 3px;
  margin-right: 7px;
  margin-left: 7px;
}

.material-icons.md-36 {
  vertical-align: middle;
  font-size: 36px;
}


.material-icons {
  vertical-align: middle;
  color: white;
}


.logo-img{
  height: 40px;
  padding-left: 5px;
}

.name {
  padding-left: 5px;
  font-size: 14px;

}

.searchBarBox{
  width: 125px;
  float: left;
  border-radius: 25px;
  background-color:black;
}

.userName {
  float: left;
  width: auto;
  padding-left: 3px;

}

.nameSpace {
  border-left: #3E444A;
  border-left-style: solid;
  border-left-width: 1px;
  white-space: nowrap;
  height: 100%;
  float: left;
  display: inline-flex;
  border-bottom: 3px solid #222222;
}